name: Build and Push Python App

on:
  push:
    branches: [ "main" ]
    paths:
      - "python-app/**"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push multi-arch image
        uses: docker/build-push-action@v5
        with:
          context: ./python-app
          file: ./python-app/Dockerfile
          push: true
          platforms: linux/amd64,linux/arm64
          tags: |
            mucker67/python-demo:latest
            mucker67/python-demo:build-${{ github.run_number }}